* {
  background-color: #fff8f0;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 900px;
  margin: 0 auto;
}

img {
  width: 300px;
  height: auto;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  color: #e74c3c;
  text-align: center;
  margin-bottom: 100px;
}

h2,
h3 {
  color: #f39c12;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

a {
  color: #27ae60;
  font-weight: bold;
}

.menu {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.menu li {
  display: inline;
  margin: 0 15px;
}
