*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #654C4F;
    margin: 0;
    padding: 0%;
}

body{
    background-color: #fffaf0;
}

.menu{
    width: fit-content;
    margin: 50px auto;
}

.thumbnail{
    height: 100px;
    width: auto;
}

.centered
{
    margin: 20px auto;
}

.header{
    width: 1150px;
    text-align: center;
    margin: 0px 20px;
    font-weight: bold;
}

.cost{
    display: inline-block;
    width: 10%;
}

.title{
    display: inline-block;
    width: 80%;
    margin: 20px 0px;
}

h1{
    font-size: 50px;
    text-align: center;
}

.difficulty{
    display: inline-block;
    width: 10%;
}

.left{
    display: inline-block;
    width: 650px;
    height: 750px;
    margin: 30px auto;
    margin-left: 20px;
    padding: 0px 10px;
}

.ingredients{
    display: inline-block;
    width: 50%;
    font-size: 14px;
}

.ingredients li{
    margin: 5px 0;
}

.infos{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.infos li{
    text-align: center;
    font-size: 15px;
    list-style-type: none;
}

.steps{
    width: 70%;
    text-align: justify;
    margin: 20px auto;
}

.steps li{
    margin: 10px 0;
}

.right{
    vertical-align: top;
    display: inline-block;
    width: 500px;
    margin: 0 auto;
}

.right img{
    width: 500px;
    margin: 0 auto;
    vertical-align: top;
}

.description{
    font-style: italic;
    font-weight: bold;
    width: 80%;
    text-align: center;
}

.left a{
    display: block;
    margin: 50px 0px;
    width: fit-content;
}